body {
    background-color: wheat;
    margin: 0;
    min-height: 100vh;
    font-size: 16px;


    border: 2px solid blue;
}

.soundButton {
    width: 60px;
    height: 20px;
    position:absolute;
    top: 1%;
    left: 1%;

    text-align: center;
    border-radius: 5px;
    background-color: rgb(223, 188, 125);
}


.firstContainer {
    width: 100%;
    height: 100vh;

    background-image: url("../img/bg_first.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center; 
    
}

.compassArea{
    
    width: 400px;
    height: 170px;


    position: absolute;
    bottom: 4%;
    left: 4%;
}


.compass {
    background-image: url("../img/compass.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    width: 200px;
    height: 100%;



}

.compassText {
    font-size: 1.2rem;

    position: absolute;

    margin:6% 25%;
    text-align: center;

}



.bell {
    background-image: url("../img/bell.png");
    background-size: contain;
    background-repeat: no-repeat;

    width: 210px;
    height: 310px;

    position: absolute;
    top: 4.5%;
    right:10%;


}

.magnifier{
    background-image: url("../img/magnifier.png");
    background-size: contain;
    background-repeat: no-repeat;

    opacity: .06;
    width: 160px;
    height: 150px;
    position: absolute;
    top: 50%;
    left:10%;
}
.magnifier:hover{
    opacity: 1;
}



.area{
    background-image: url("../img/paper.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 2%;

    width: 30%;
    height: 40%;

    display: none;
    align-items: center;
    justify-content: center;



    font-size: 25px;
    font-weight: 500;
    
}

.quill{
    background-image: url("../img/quill.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 20px;
    height: 20px;


    position: absolute;
    top:25%;
    margin-left: 2%;
}

.textContainer {
    

    width: 350px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

    font-size: 1.5rem;
}

.textArea {
    flex:1;


}

.firstInput{
    display: none;
    width: 80%;
    height: 20px;


    background-color: rgb(212, 189, 146);
    border-radius: 4px;
}


.firstSubmit{
    background-color: rgb(223, 188, 125);
    border-radius: 5px;
    margin: 5px;
}

.puzzleCounterContainer{
    background-image: url("../img/frame4.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: absolute;
    bottom: 5%;
    left: 48%;
    width: 110px;
    height: 110px;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-weight: 800;

    padding: 0px 0px;
}

